<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="artm.MvxPlugins.Fetcher" version="2.0.5" targetFramework="net452" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net452" />
  <package id="DotNetCross.Memory.Unsafe" version="0.2.2" targetFramework="net452" />
  <package id="Fody" version="1.29.4" targetFramework="net452" developmentDependency="true" />
  <package id="modernhttpclient" version="2.4.2" targetFramework="net452" />
  <package id="Moq" version="4.5.21" targetFramework="net452" />
  <package id="MvvmCross" version="4.2.3" targetFramework="net452" />
  <package id="MvvmCross.Binding" version="4.2.3" targetFramework="net452" />
  <package id="MvvmCross.Core" version="4.2.3" targetFramework="net452" />
  <package id="MvvmCross.Platform" version="4.2.3" targetFramework="net452" />
  <package id="MvvmCross.StarterPack" version="4.2.3" targetFramework="net452" />
  <package id="MvvmCross.Tests" version="4.2.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NLog" version="4.3.7" targetFramework="net452" />
  <package id="NUnit" version="3.4.1" targetFramework="net452" />
  <package id="Polly-Signed" version="4.3.0" targetFramework="net452" />
  <package id="Realm" version="0.77.2" targetFramework="net452" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
</packages>