<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="artm.MvxPlugins.Dialog" version="2.0.16" targetFramework="monoandroid70" />
  <package id="artm.MvxPlugins.Fetcher" version="2.0.16" targetFramework="monoandroid70" />
  <package id="artm.MvxPlugins.Logger" version="2.0.16" targetFramework="monoandroid70" />
  <package id="DotNetCross.Memory.Unsafe" version="0.2.3.4" targetFramework="monoandroid70" />
  <package id="Fody" version="1.29.4" targetFramework="monoandroid60" developmentDependency="true" />
  <package id="modernhttpclient" version="2.4.2" targetFramework="monoandroid60" />
  <package id="MvvmCross" version="4.4.0" targetFramework="monoandroid70" />
  <package id="MvvmCross.Binding" version="4.4.0" targetFramework="monoandroid70" />
  <package id="MvvmCross.Core" version="4.4.0" targetFramework="monoandroid70" />
  <package id="MvvmCross.Droid.Shared" version="4.4.0" targetFramework="monoandroid70" />
  <package id="MvvmCross.Droid.Support.Core.UI" version="4.4.0" targetFramework="monoandroid70" />
  <package id="MvvmCross.Droid.Support.Core.Utils" version="4.4.1" targetFramework="monoandroid70" />
  <package id="MvvmCross.Droid.Support.Design" version="4.4.0" targetFramework="monoandroid70" />
  <package id="MvvmCross.Droid.Support.Fragment" version="4.4.0" targetFramework="monoandroid70" />
  <package id="MvvmCross.Droid.Support.V4" version="4.4.1" targetFramework="monoandroid70" />
  <package id="MvvmCross.Droid.Support.V7.AppCompat" version="4.4.0" targetFramework="monoandroid70" />
  <package id="MvvmCross.Droid.Support.V7.RecyclerView" version="4.4.0" targetFramework="monoandroid70" />
  <package id="MvvmCross.Platform" version="4.4.0" targetFramework="monoandroid70" />
  <package id="MvvmCross.Plugin.Json" version="4.4.0" targetFramework="monoandroid70" />
  <package id="MvvmCross.StarterPack" version="4.4.0" targetFramework="monoandroid70" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="monoandroid60" />
  <package id="NLog" version="4.4.1" targetFramework="monoandroid70" />
  <package id="NLog.Config" version="4.4.1" targetFramework="monoandroid70" />
  <package id="NLog.Schema" version="4.4.1" targetFramework="monoandroid70" />
  <package id="Polly-Signed" version="4.3.0" targetFramework="monoandroid60" />
  <package id="Realm" version="0.81.0" targetFramework="monoandroid70" developmentDependency="true" />
  <package id="Remotion.Linq" version="2.1.1" targetFramework="monoandroid70" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="monoandroid60" developmentDependency="true" />
  <package id="System.Collections" version="4.3.0" targetFramework="monoandroid70" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="monoandroid70" />
  <package id="System.Linq" version="4.3.0" targetFramework="monoandroid70" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="monoandroid70" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="monoandroid70" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="monoandroid70" />
  <package id="System.Reflection" version="4.3.0" targetFramework="monoandroid70" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="monoandroid70" />
  <package id="System.Runtime" version="4.3.0" targetFramework="monoandroid70" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="monoandroid70" />
  <package id="System.Threading" version="4.3.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Compat" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Core.UI" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Core.Utils" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Design" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Fragment" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Media.Compat" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v4" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="24.2.1" targetFramework="monoandroid70" />
</packages>